@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-family-ui: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-family-text: 'IBM Plex Serif', serif;
  --color-background: #fff;
  --color-focus-00: rgba(66, 153, 225, 0.2);
  --color-focus-01: rgba(66, 153, 225, 0.5);
  --color-gray-bg: #f6f8fa;
  --color-blue-bg: #ddfffe;
  --color-gray-00: #e0e6eb;
  --color-gray-01: #8691a1;
  --color-gray-02: #515a70;
  --color-gray-03: #2d3146;
  --color-gray-04: #181b2c;
  --color-blue-00: #b5eff1;
  --color-blue-01: #0096ed;
  --color-blue-02: #0670de;
  --color-blue-03: #0055bc;
  --color-yellow-00: #fae498;
  --color-yellow-02: #ed6804;
  --color-yellow-03: #c84801;
  --color-red-00: #ffa8a8;
  --color-red-01: #e6082d;
  --color-red-02: #cd0426;
  --color-green-02: #228403;
  --color-magenta-01: #df0371;
  --spacing-00: 8px;
  --spacing-01: 16px;
  --spacing-02: 32px;
  --spacing-03: 64px;
  --spacing-04: 96px;
  --font-size-micro: 14px;
  --font-size-small: 14px;
  --font-size-jumbo: 36px;
  --font-size-title: 20px;
  --font-size-subtitle: 16px;
  --font-size-section: 20px;
  --font-size-body: 16px;
  --column-count: 12;
  --gutter-width: 16px;
  --max-width: 100vw;
  --column: calc(
    (var(--max-width) - var(--gutter-width) * 2) / var(--column-count)
  );
}

@media (min-width: 600px) {
  :root {
    --font-size-jumbo: 64px;
    --font-size-title: 24px;
    --font-size-subtitle: 20px;
  }
}

@media (min-width: 896px) {
  :root {
    --max-width: 896px;
  }
}

html {
  font-family: var(--font-family-ui);
  color: var(--color-gray-03);
}
text {
  font-size: 13px;
  font-family: inherit;
}
.text-mono {
  font-family: var(--font-family-mono);
  font-weight: 500;
  font-size: 0.9em;
}
.text-gray-faint {
  color: var(--color-gray-01);
}
.text-gray-light {
  color: var(--color-gray-02);
}
.text-gray {
  color: var(--color-gray-03);
}
.text-gray-dark {
  color: var(--color-gray-04);
}
.text-blue {
  color: var(--color-blue-02);
}
.text-invert {
  color: var(--color-background);
}
.text-red {
  color: var(--color-red-02);
}
.text-yellow {
  color: var(--color-yellow-02);
}
.text-green {
  color: var(--color-green-02);
}
.text-micro {
  font-size: var(--font-size-micro);
}
.text-small {
  font-size: var(--font-size-small);
}
.text-jumbo {
  font-size: var(--font-size-jumbo);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.05;
  transform: translateX(calc(-1 * var(--font-size-jumbo) / 40));
}
.text-title {
  font-size: var(--font-size-title);
  line-height: 1.3;
  font-weight: 600;
}
.text-subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
}
.weight-600 {
  font-weight: 500;
}
.section-label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px 0;
  border-bottom: 2px solid var(--color-gray-03);
}
.text-heading,
.section-heading {
  font-size: var(--font-size-section);
  font-weight: 600;
  line-height: 1.3;
}
.section-heading {
  margin-top: var(--spacing-04);
  margin-bottom: var(--spacing-00);
}
.text-body,
.paragraph {
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  line-height: 1.6;
}
.text-body strong,
.paragraph strong {
  font-weight: 600;
}
.paragraph {
  margin-bottom: var(--spacing-02);
}
@media (min-width: 600px) {
  .paragraph {
    max-width: calc(var(--column) * 9);
  }
}
.definition {
  transition: ease background-color 300ms;
}
.definition-label {
  transition: ease background-color 300ms, ease color 300ms;
  background-image: linear-gradient(
    to right,
    var(--color-gray-00) 0%,
    var(--color-gray-00) 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 8px 1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
.definition-data {
  transition: ease color 300ms;
  color: var(--color-gray-01);
  font-family: var(--font-family-mono);
  font-weight: 500;
  font-size: 0.9em;
  padding: 0 2px;
}
.color-dark {
  color: var(--color-gray-04);
}
.underline-blue {
  background: linear-gradient(
    transparent 80%,
    var(--color-blue-00) 80%,
    var(--color-blue-00) 93%,
    transparent 93%
  );
}
.underline-yellow {
  background: linear-gradient(
    transparent 80%,
    var(--color-yellow-00) 80%,
    var(--color-yellow-00) 93%,
    transparent 93%
  );
}

.link {
  color: var(--color-gray-03);
  font-weight: 500;
}
.link:hover {
  color: var(--color-blue-03);
}

.focus:focus,
.focus-within:focus-within {
  box-shadow: 0 0 0 1px var(--color-focus-01), 0 0 0 4px var(--color-focus-00);
  outline: none;
  border-radius: 2px;
}
.focus-within:focus-within .focus:focus {
  box-shadow: none;
}
