@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

text {
  font-size: 14px;
  font-family: inherit;
}

:root {
  --font-family-ui: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-gray-01: #8691a1;
  --color-gray-02: #515a70;
  --color-gray-03: #2d3146;
  --color-gray-04: #181b2c;
  --color-blue-00: #b5eff1;
  --color-blue-02: #0670de;
  --color-blue-03: #0055bc;
  --color-yellow-00: #fae498;
  --spacing-00: 8px;
  --spacing-01: 16px;
  --spacing-02: 32px;
  --spacing-03: 64px;
  --spacing-04: 96px;
  --font-size-small: 14px;
  --font-size-title: 20px;
  --font-size-subtitle: 16px;
  --font-size-section: 14px;
  --font-size-body: 14px;
  --column-count: 16;
  --column-width: 32px;
  --gutter-width: var(--column-width);
  --max-width: calc(var(--column-width) * var(--column-count));
}

@media (min-width: 600px) {
  :root {
    --column-width: 64px;
    --font-size-title: 24px;
    --font-size-subtitle: 20px;
    --font-size-section: 16px;
    --font-size-body: 14px;
  }
}

html {
  font-family: var(--font-family-ui);
  color: var(--color-gray-03);
}

.text-small {
  font-size: var(--font-size-small);
}
.text-title {
  font-size: var(--font-size-title);
  line-height: 1.3;
  font-weight: 600;
}
.text-subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
}
.text-heading,
.section-heading {
  font-size: var(--font-size-section);
  font-weight: 600;
}
.section-heading {
  margin-top: var(--spacing-04);
}
.text-body,
.paragraph {
  font-size: var(--font-size-body);
}
.paragraph {
  max-width: 640px;
  margin-bottom: var(--spacing-02);
}
.color-dark {
  color: var(--color-gray-04);
}
.underline-blue {
  background: linear-gradient(
    transparent 80%,
    var(--color-blue-00) 80%,
    var(--color-blue-00) 93%,
    transparent 93%
  );
}
.underline-yellow {
  background: linear-gradient(
    transparent 80%,
    var(--color-yellow-00) 80%,
    var(--color-yellow-00) 93%,
    transparent 93%
  );
}

.link {
  color: var(--color-gray-03);
  font-weight: 500;
}
.link:hover {
  color: var(--color-blue-03);
}

.focus:focus,
.focus-within:focus-within {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: none;
  border-radius: 3px;
}
.focus-within:focus-within .focus:focus {
  box-shadow: none;
}
.graph {
  margin: 0 calc(-1 * var(--gutter-width));
}
